@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap");
.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.scale-up-center {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.scale-in-hor-center {
  animation: scale-in-hor-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale-in-hor-center {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
.nav nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 10px;
  border: 1px double var(--primary);
}
.nav nav a {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  flex-wrap: nowrap;
  line-height: 25px;
  font-size: 16px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 180px;
  margin: 10px;
  padding: 6px 25px;
  border-radius: 3px;
  font-weight: 400;
  text-align: center;
  border: 1px solid var(--secondary);
  background-image: linear-gradient(var(--secondary), var(--secondary));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 0%;
  color: var(--black);
}
.nav nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}
.nav nav a:hover svg {
  stroke: var(--black);
}
.nav nav a:hover i {
  color: var(--black);
}

.slanted-btn {
  display: flex;
  justify-content: center;
}
.slanted-btn .cta {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  flex-wrap: nowrap;
  align-self: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: var(--white);
  background: var(--primary);
  transition: 1s;
  box-shadow: 6px 6px 0 var(--black);
  transform: skewX(-15deg);
}
.slanted-btn svg {
  width: 40px !important;
}
.slanted-btn .cta:focus {
  outline: none;
}
.slanted-btn .cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #FBC638;
}
.slanted-btn .cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}
.slanted-btn .cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}
.slanted-btn span {
  transform: skewX(15deg);
  color: var(--white);
}
.slanted-btn span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}
.slanted-btn {
  /**************SVG****************/
}
.slanted-btn path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}
.slanted-btn path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}
.slanted-btn .cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}
.slanted-btn .cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}
.slanted-btn .cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}
.slanted-btn {
  /* SVG animations */
}

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #FBC638;
  }
  100% {
    fill: white;
  }
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--white);
}
.modal-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: var(--white);
  margin: 20px auto;
  border-radius: 5px;
  padding: 20px;
  width: 95%;
  /* Could be more or less, depending on screen size */
}
.modal-content div {
  max-width: 800px;
  width: 100%;
}
.modal-content div img {
  max-width: 800px;
  width: 100%;
}
.modal-content div:nth-child(2) {
  max-width: unset;
}
.modal-close {
  float: right;
  background-color: var(--primary);
  border-radius: 50%;
  padding: 3px;
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  flex-wrap: nowrap;
}
.modal-close svg {
  stroke: var(--black);
  width: 50px;
}
.modal-close:hover, .modal-close:focus {
  background-color: var(--black);
  text-decoration: none;
  cursor: pointer;
}
.modal-close:hover svg, .modal-close:focus svg {
  stroke: var(--primary);
}

* {
  box-sizing: border-box;
  font-family: "BIZ UDPMincho", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--black);
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in-out;
}

html,
body {
  background-color: var(--background);
  margin: 0;
  scroll-behavior: smooth;
  height: 100%;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h1,
h2 {
  letter-spacing: 1px;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

h1,
h2,
h3,
p {
  text-align: center;
  max-width: 1100px;
  width: 100%;
}

p {
  line-height: 24px;
  font-size: 15px;
}

strong {
  font-weight: 900;
}

a {
  color: var(--primary);
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
}
a:hover {
  text-decoration: none;
  color: var(--black);
}

.a-button,
button {
  font-family: "BIZ UDPMincho", serif;
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  flex-wrap: nowrap;
  padding: 10px 30px;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 4rem;
  font-size: 20px;
  background-image: linear-gradient(var(--black), var(--black));
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% 0%;
}
.a-button:hover,
button:hover {
  color: var(--primary);
  background-size: 100% 100%;
}
.a-button:hover i,
button:hover i {
  color: var(--primary);
}
.a-button:hover svg,
button:hover svg {
  stroke: var(--primary);
}
.a-button,
button {
  margin: 10px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.a-button i,
button i {
  color: var(--white);
}

button {
  border: 0px solid var(--black);
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  flex-wrap: nowrap;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
.container-overlap {
  position: relative;
  z-index: 5;
  margin-top: -20px;
}
.container-overlap-large {
  margin-top: -40px;
}
.container-light {
  background-color: var(--white);
  max-width: 1100px;
  width: 100%;
  z-index: 10;
  border-radius: 5px;
  padding: 30px 20px 60px;
}
.container-clear {
  padding: 30px 20px 60px;
}
.container-grey {
  background-color: var(--grey);
  padding: 30px 20px 60px;
  margin-top: -20px;
}
.container-img {
  padding: 60px 20px;
  margin-top: -20px;
}
.container-img img {
  max-width: 900px;
  width: 100%;
  border-radius: 5px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  padding: 15px 20px 15px;
  background-color: var(--white);
  border-bottom: 2px solid var(--black);
}
header nav {
  display: flex;
  flex-direction: row;
  place-content: center;
  flex-wrap: nowrap;
  max-width: 400px;
  width: 100%;
  padding: 10px 0px;
  flex-wrap: wrap;
}
header nav a {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  flex-wrap: nowrap;
  font-size: 18px;
  max-width: 180px;
  width: 100%;
  height: 40px;
  margin: 3px 10px;
  border-radius: 3px;
  font-weight: 400;
  text-align: center;
  background-image: linear-gradient(var(--primary), var(--primary));
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% 2%;
  color: var(--black);
}
header nav a:hover {
  background-size: 100% 100%;
  color: var(--white);
}
header nav a:hover svg {
  stroke: var(--white);
}
header nav a:hover i {
  color: var(--white);
}
header nav a svg {
  stroke: var(--primary);
  width: 23px;
  margin-right: 5px;
}
header nav .active {
  background-color: var(--grey);
  color: var(--primary);
}
header nav .active svg {
  stroke: var(--primary);
}
header div {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  flex-wrap: nowrap;
  margin: 15px 20px;
}
header div img {
  max-width: 250px;
  width: 100%;
}
header .date-time {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 230px;
  padding: 5px;
  position: absolute;
  right: 0px;
  top: 0px;
}
header .date-time div {
  padding: 5px;
  text-align: center;
}
header .date-time div:nth-child(2) {
  color: var(--primary);
  font-weight: 900;
}
header .date-time div:nth-child(3) {
  width: 88px;
  text-align: left;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px 20px;
  background-color: var(--white);
  border-top: 2px solid var(--black);
  margin-top: 30px;
}
footer img {
  max-width: 300px;
  width: 100%;
}
footer nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 300px;
  width: 100%;
  padding: 10px 0px;
  position: relative;
  z-index: 999999;
}
footer nav h3 {
  font-size: 20px;
  margin: 0px 10px 5px;
  padding: 10px 5px;
  border-bottom: 2px solid var(--black);
}
footer nav a,
footer nav p {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 16px;
  max-width: 280px;
  width: 100%;
  margin: 0px 10px;
  padding: 10px 5px;
  border-radius: 3px;
  font-weight: 400;
  background-image: linear-gradient(var(--primary), var(--primary));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  color: var(--black);
}
footer nav a:hover,
footer nav p:hover {
  color: var(--white);
  background-size: 100% 100%;
}
footer nav a:hover strong,
footer nav a:hover i,
footer nav a:hover span,
footer nav p:hover strong,
footer nav p:hover i,
footer nav p:hover span {
  color: var(--white);
}
footer nav a:hover svg,
footer nav p:hover svg {
  stroke: var(--white);
}
footer nav a strong,
footer nav p strong {
  letter-spacing: 1px;
  color: var(--primary);
  font-weight: 400;
}
footer nav a svg,
footer nav p svg {
  stroke: var(--primary);
  width: 25px;
  margin-right: 9px;
}
footer nav a i,
footer nav p i {
  font-size: 28px;
  color: var(--primary);
  margin-right: 5px;
}
footer nav p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  z-index: 1;
  width: 100%;
}
footer div img {
  max-width: 700px;
  width: 100%;
  opacity: 0.05;
}

.contact-box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
.contact-box-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
}
.contact-box {
  display: flex;
  flex-direction: column;
  place-items: center;
  flex-wrap: nowrap;
  max-width: 550px;
  width: 100%;
  background-color: var(--white);
  border-radius: 5px;
  margin: 10px;
  padding: 35px 20px;
  position: relative;
  z-index: 2;
}
.contact-box-bottom {
  background-color: var(--grey);
  margin-top: -25px;
  z-index: 1;
}
.contact-box svg {
  width: 50px;
  stroke: var(--primary);
}
.contact-box p {
  text-align: center;
  margin: 0;
}
.contact-box-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
.contact-box-social a {
  display: flex;
  flex-direction: row;
  place-content: center;
  flex-wrap: nowrap;
  background-color: var(--primary);
  background-image: linear-gradient(var(--black), var(--black));
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% 0%;
}
.contact-box-social a:hover {
  color: var(--primary);
  background-size: 100% 100%;
}
.contact-box-social a:hover i {
  color: var(--primary);
}
.contact-box-social a:hover svg {
  stroke: var(--primary);
}
.contact-box-social a {
  padding: 10px;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}
.contact-box-social a i {
  font-size: 24px;
  color: var(--white);
}

.container-projects-img {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  flex-wrap: nowrap;
  padding: 80px 20px;
  margin-top: -35px;
  z-index: 1;
}
.container-projects-img .project-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center;
  flex-wrap: nowrap;
  max-width: 1200px;
  width: 100%;
  max-height: 547px;
  overflow: hidden;
}
.container-projects-img .project-images img {
  max-width: 900px;
  width: 100%;
  border-radius: 5px;
  margin: 20px;
}
.container-projects-img .project-images a {
  width: 50px;
  cursor: pointer;
  height: 200px;
  display: flex;
  flex-direction: row;
  place-items: center;
  flex-wrap: nowrap;
  border-radius: 3px;
}
.container-projects-img .project-images a svg {
  width: 50px;
  stroke: var(--primary);
}
.container-projects-img .project-images a:hover {
  background-color: #e4e2e2;
}
.container-projects-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  max-width: 1100px;
  width: 100%;
}
.container-projects-info .projects-info {
  display: flex;
  flex-direction: column;
  place-items: center;
  flex-wrap: nowrap;
  border-radius: 5px;
  background-color: var(--white);
  border: 1px solid var(--secondary);
  max-width: 300px;
  width: 100%;
  padding: 20px 10px;
}
.container-projects-info .projects-info h3 {
  margin-bottom: 0px;
  color: var(--primary);
}

.dot1,
.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot1.active,
.dot1:hover,
.dot2.active,
.dot2:hover {
  background-color: #717171;
}

.service-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.service-card {
  background-color: var(--white);
  max-width: 360px;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
}
.service-card h2 {
  margin-top: 30px;
  color: var(--primary);
}
.service-card-img {
  position: relative;
  display: inline-block;
}
.service-card-img-info {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  flex-wrap: nowrap;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--primary);
  font-weight: 400;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: all 0.3s ease-in-out;
}
.service-card-img-info h3,
.service-card-img-info p {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(var(--grey), var(--grey));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: all 0.3s ease-in-out;
}
.service-card-img:hover .service-card-img-info {
  visibility: visible;
  color: var(--primary) !important;
  background-size: 100% 100%;
  transition: all 0.3s ease-in-out;
}
.service-card-img:hover .service-card-img-info h3,
.service-card-img:hover .service-card-img-info p {
  background-size: 100% 100%;
  transition: all 0.3s ease-in-out;
}
.service-card-img img {
  display: block;
  width: 100%;
  border-radius: 5px;
  border: 2px solid var(--black);
}

.service-back-to-top {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  flex-wrap: nowrap;
  margin: 20px 30px 40px;
  position: absolute;
  font-size: 14px;
}
.service-back-to-top a {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  flex-wrap: nowrap;
}
.service-back-to-top svg {
  color: var(--primary);
  width: 18px;
}

.process-container {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  flex-wrap: nowrap;
  margin-top: 30px;
  padding: 30px 0px;
  background-color: var(--grey);
}
.process-wrapper {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  flex-wrap: nowrap;
}
.process {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 20px;
  background-color: var(--white);
}
.process-row {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  flex-wrap: nowrap;
  max-width: 900px;
  width: 100%;
}
.process-row .process:last-child {
  background-color: var(--grey);
}
.process-row:nth-child(odd) .process:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
}
.process-row:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}
.process-row:nth-child(even) .process:first-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
}
.process-count {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  flex-wrap: nowrap;
  width: 2px;
  background-color: var(--primary);
  position: relative;
  align-self: stretch;
}
.process-count div {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  flex-wrap: nowrap;
  position: absolute;
  background-color: var(--grey);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid var(--primary);
}
.process-count div h3 {
  color: var(--primary);
  margin: 0;
  font-size: 40px;
  font-weight: 900;
}
.process-svg {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  flex-wrap: nowrap;
  background-color: var(--grey);
  padding: 15px;
  border-radius: 50%;
}
.process-svg svg {
  width: 45px;
  stroke: var(--primary);
}
.process h2,
.process p {
  text-align: center;
}

:root {
  --background: #1b2355;
  --background-img: url(../img/bg/wood-bg.jpg);
  --primary: #1b2355;
  --secondary: #fc6f64;
  --white: #fff;
  --black: #191919;
  --grey: #d4d5d5;
  --dark-grey: #f2f2f2;
  --fontfamily-BIZ: 'BIZ UDPMincho', serif;
}/*# sourceMappingURL=styles.css.map */