@use "../css/components/animista";
@use "../css/components/nav";

@use "../css/general/modals";
@use "../css/general/tags";
@use "../css/general/text";

@use "../css/layout/container";
@use "../css/layout/header";
@use "../css/layout/footer";

@use "../css/layout/pages/about";
@use "../css/layout/pages/contact";
@use "../css/layout/pages/projects";
@use "../css/layout/pages/services_cards";
@use "../css/layout/pages/services";

:root {
    --background: #fff;
    --background-img: url(../img/bg/wood-bg.jpg);
    --primary: #fff;
    // --secondary: #1b2355;
    --secondary: #303f9c;
    --white: #fff;
    --black: #191919;
    --grey: #f2f2f2;
    --dark-grey: #f6f6f6;
    --fontfamily-BIZ: 'BIZ UDPMincho', serif;


    // --yellow: rgb(251, 251, 114);
    // --light-yellow: rgb(244, 244, 158);

    // --background: #fff;
    // --background-img: url(../img/bg/wood-bg.jpg);
    // --primary: #fff;
    // --secondary: #343a57;
    // --white: #fff;
    // --black: #191919;
    // --grey: #f2f2f2;
    // --dark-grey: #ccc;

    // --yellow: rgb(251, 251, 114);
    // --light-yellow: rgb(244, 244, 158);

    // --background: rgb(54, 55, 57);
    // --background-img: url(../img/bg/wood-bg.jpg);
    // --primary: rgb(54, 55, 57);
    // --secondary: rgb(255, 147, 0);
    // --white: #fff;
    // --black: #191919;
    // --grey: rgb(77, 78, 80);
    // --dark-grey: rgb(36, 37, 39);

    // --yellow: rgb(251, 251, 114);
    // --light-yellow: rgb(244, 244, 158);
    // --fontfamily-BIZ: 'BIZ UDPMincho', serif;
}