@use "../css/components/animista";
@use "../css/components/nav";

@use "../css/general/buttons";
@use "../css/general/modals";
@use "../css/general/tags";
@use "../css/general/text";

@use "../css/layout/container";
@use "../css/layout/header";
@use "../css/layout/footer";

@use "../css/layout/pages/about";
@use "../css/layout/pages/contact";
@use "../css/layout/pages/projects";
@use "../css/layout/pages/services_cards";
@use "../css/layout/pages/services";

:root {
    --background: #1b2355;
    --background-img: url(../img/bg/wood-bg.jpg);
    --primary: #1b2355;
    // --secondary: #98BEE4;
    // --secondary: #ffb342;
    --secondary: #fc6f64;
    --white: #fff;
    --black: #191919;
    --grey: #d4d5d5;
    --dark-grey: #f2f2f2;
    --fontfamily-BIZ: 'BIZ UDPMincho', serif;
}