@use "../components/animation" as *;
@use "../components/mixins" as *;

header {
    @include flexbox($justifyContent: space-evenly);
    // 15 top for responsive time & date
    padding: 15px 20px 15px;
    // margin-bottom: 20px;
    background-color: var(--white);
    border-bottom: 2px solid var(--black);

    nav {
        @include flexbox($placeContent: center);
        max-width: 400px;
        width: 100%;
        padding: 10px 0px;
        flex-wrap: wrap;
    
        a {
            @include flexbox($placeContent: center, $placeItems: center);
            font-size: 18px;
            max-width: 180px;
            width: 100%;
            height: 40px;
            margin: 3px 10px;
            border-radius: 3px;
            font-weight: 400;
            text-align: center;
            @include backgroundFromBottomUnderline;

            svg {
                stroke: var(--primary);
                width: 23px;
                margin-right: 5px;
            }
        }

        .active {
            background-color: var(--grey);
            color: var(--primary);

            svg {
                stroke: var(--primary);
            }
        }
    }

    div {
        @include flexbox($placeContent: center, $placeItems: center);
        margin: 15px 20px;

        img {
            max-width: 250px;
            width: 100%;
        }
    }

    .date-time {
        // fixed width & space evenly so when time ends with 1 width doesn't change
        @include flexbox($justifyContent: space-evenly);
        width: 230px;
        padding: 5px;
        position: absolute;
        right: 0px;
        top: 0px;

        div {
            padding: 5px;
            text-align: center;
        }

        div:nth-child(2) {
            color: var(--primary);
            font-weight: 900;
        }

        div:nth-child(3) {
            // fixed width so when time ends with 1 width doesn't change
            width: 88px;
            text-align: left;
        }
    }
}

// .mode {
//     display: flex;
//     height: 30px;
//     max-width: 115px;
//     width: 100%;
//     justify-content: space-evenly;
//     align-items: center;
//     // position: absolute;
//     // right: 50px;

//     div {
//         display: flex;
//     }

//     &-sun,
//     &-moon {
//         display: flex;
//         align-items: center;

//         i {
//             color: var(--primary);
//             font-size: 1.5rem;
//         }
//     }

//     label {
//         position: relative;
//         display: inline-block;
//         width: 47px;
//         height: 21px;

//         input {
//             opacity: 0;
//             width: 0;
//             height: 0;
//         }

//         input:checked+.slider:before {
//             background-color: #000;
//         }

//         // input:focus+.slider {
//         //     box-shadow: 0 0 1px var(--yellow);
//         // }

//         input:checked+.slider:before {
//             -webkit-transform: translateX(26px);
//             -ms-transform: translateX(26px);
//             transform: translateX(26px);
//         }
//     }

//     .slider {
//         position: absolute;
//         cursor: pointer;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         background-color: var(--primary);
//         -webkit-transition: .4s;
//         transition: .4s;
//         border-radius: 34px;

//         &:before {
//             position: absolute;
//             content: "";
//             height: 15px;
//             width: 15px;
//             left: 4px;
//             bottom: 2.8px;
//             background-color: var(--black);
//             -webkit-transition: .4s;
//             transition: .4s;
//             border-radius: 50%;
//         }
//     }
// }