@use "../../components/animation" as *;
@use "../../components/mixins" as *;

.service {
    &-back-to-top {
        @include flexbox($placeContent: center, $placeItems: center);
        margin: 20px 0px 40px;
    }
}




// PROCESS

.process {
    &-container {
        @include flexbox($placeContent: center, $placeItems: center);
        margin-top: 30px;
        padding: 30px 0px;
        background-color: var(--dark-grey);
    }

    &-wrapper {
        @include flexbox($placeContent: center, $placeItems: center, $direction: column);
    }

    @include flexbox($placeContent: center, $placeItems: center, $direction: column);
    width: 100%;
    padding: 20px;
    background-color: var(--primary);

    &-row {
        @include flexbox($placeContent: center, $placeItems: center);
        max-width: 900px;
        width: 100%;

        .process:last-child {
            background-color: var(--dark-grey);
        }
    }

    &-row:nth-child(odd) {
        .process:first-child {
            // border-right: 2px solid var(--secondary);
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            position: relative;
            // left: 1px;
        }
    }

    &-row:nth-child(even) {
        @include flexbox($direction: row-reverse);

        .process:first-child {
            // border-left: 2px solid var(--secondary);
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            position: relative;
        }
    }

    &-count {
        @include flexbox($placeContent: center, $placeItems: center);
        width: 2px;
        background-color: var(--secondary);
        position: relative;
        align-self: stretch;

        div {
            @include flexbox($placeContent: center, $placeItems: center);
            position: absolute;
            background-color: var(--dark-grey);
            border-radius: 50%;
            width: 80px;
            height: 80px;
            border: 1px solid var(--secondary);
            // box-shadow: 0 0 0 2px var(--secondary), 0 0 0 7px rgb(255 173 61), 0 0 0 12px rgb(255 200 125);

            h3 {
                color: var(--secondary);
                margin: 0;
                font-size: 40px;
                font-weight: 900;
            }
        }
    }

    &-svg {
        @include flexbox($placeContent: center, $placeItems: center);
        background-color: var(--dark-grey);
        padding: 15px;
        border-radius: 50%;

        svg {
            width: 45px;
            stroke: var(--secondary);
        }
    }

    h2,
    p {
        text-align: center;
    }
}