.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@mixin backgroundFromBottomUnderline {
    background-image: linear-gradient(var(--secondary), var(--secondary));
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100% 2%;
    color: var(--black);

    &:hover {
        background-size: 100% 100%;
        color: var(--black);

        svg {
            stroke: var(--black);
        }

        i {
            color: var(--black);
        }
    }
}

@mixin backgroundFromBottomBlack {
    background-image: linear-gradient(var(--black), var(--black));
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100% 0%;

    &:hover {
        color: var(--secondary);
        background-size: 100% 100%;

        i {
            color: var(--secondary);
        }

        svg {
            stroke: var(--secondary);
        }
    }
}

@mixin backgroundFromLeft {
    background-image: linear-gradient(var(--secondary), var(--secondary));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    color: var(--black);

    &:hover {
        color: var(--black);
        background-size: 100% 100%;

        strong,
        i,
        span {
            color: var(--black);
        }

        svg {
            stroke: var(--black);
        }
    }
}